{% extends 'base.html' %}

{% block content %}
<div id="gtco-main">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-12">
                <ul id="gtco-post-list">
                    <li class="full entry animate-box" data-animate-effect="fadeIn">
                        <a href="/">
                            <div class="entry-img" style="background-image: url(images/img_1.jpg"></div>
                            <div class="entry-desc">
                                <h3>{{category.title}}</h3>
                                <p>{{category.content}}</p>
                            </div>
                        </a>
                    </li>

                    {% for post in posts %}
                    <li class="one-third entry animate-box" data-animate-effect="fadeIn">
                        <a href="/posts/{{post.id}}">
                            <div class="entry-img" style="background-image: url(images/img_4.jpg"></div>
                            <div class="entry-desc">
                                <h3>{{post.title}}</h3>
                                <p>{{post.content}}</p>
                            </div>
                        </a>
                        <a href="single.html" class="post-meta">{{post.date_created}}</a>
                    </li>
                    {% endfor %}



                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}