{% extends 'base.html' %}

{% block content %}
<div id="gtco-main">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-12">
                <ul id="gtco-post-list">
                    <li class="full entry animate-box" data-animate-effect="fadeIn">
                        <a href="/">
                            <div class="entry-desc">
                                <h3>Страница не найдена</h3>
                                <p>Запрашиваемой страницы не существует!</p>
                            </div>
                        </a>
                        <a href="#" class="post-meta">Business <span class="date-posted">4 days ago</span></a>
                    </li>


                </ul>
            </div>
        </div>

    </div>
</div>

{% endblock %}